body{
    margin: 0;
    font-size: 100%;
    background-color: aliceblue;
    min-height: 100px;
    font-family: 'DejaVu Sans Mono','Courier New',monospace;
    font-size: 12px;
    height: 100%
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.button1 {
    padding: 10px 24px;
    margin: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    /*padding: 5px;*/
}
.col{
    border: 1px solid;
    min-height: 600px;
    margin: 5px;
    /*width: 40%;*/
    /*padding: 5px;*/
}

.col1 {
    width: 40%;
}

.col2 {
    flex-grow: 1;
}

.property{
    color: blue;
}

li.dropdown ul {
    display : display;
}

span.cursor{
    cursor: pointer;
}

p{
    color: red;
}

.toggleColor{
    color: red;
}

.footer{
    bottom: 5px;
    text-align: center;
}