body{
    margin: 0;
    font-size: 100%;
    background-color: aliceblue;
    min-height: 100px;
}

.container{
    display: flex;
    flex-direction: row;
    /*padding: 5px;*/
}
.col{
    border: 1px solid;
    min-height: 500px;
    margin: 5px;
    width: 50%;
    /*padding: 5px;*/
}